@value makerLightGrey, makerGreen, makerWhite from '../../common/colors.css';

.editor {
  padding: 4em 1em;
  flex-basis: 50%;
  border-right: 1px solid makerLightGrey;
  background-color: makerWhite;
}

.title {
  display: block;
  margin-bottom: 1em;
  text-align: center;
  font-size: 2em;
  color: makerGreen;
}
