@value makerBlack from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
@value makerGreen from '../../common/colors.css';

.header {
  position: relative;
  padding: 1em;
  text-align: center;
  color: makerWhite;
  background-color: makerGreen;
}

.header img {
  width: 10%;
}

.logout {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.5em;
  color: makerWhite;
  background-color: makerBlack;
  border-radius: 0.2em;
  cursor: pointer;
  transition: all 200ms ease;
}

.logout:hover {
  color: makerBlack;
  background-color: makerWhite;
}
