@value makerWhite, makerGreen from '../../common/colors.css';

.footer {
  padding: 1em;
  text-align: center;
  font-size: 0.9rem;
  color: makerWhite;
  background-color: makerGreen;
}

.footer.app {
  position: fixed;
  bottom: 0;
  width: 100%;
}
