@value makerBlack, makerWhite, makerGreen, makerLightGrey from '../../common/colors.css';

.login {
  width: 30%;
  text-align: center;
  color: makerBlack;
  background-color: makerWhite;
}

.login h2 {
  display: inline-block;
  margin-bottom: 1em;
}

.loginBtns {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.loginBtns li {
  margin: 0 0.5em 0.5em;
}

.loginBtns li button {
  width: 100%;
  padding: 0.5em;
  font-size: 1rem;
  font-weight: 500;
  background-color: makerWhite;
  border: makerGreen 0.2em solid;
  border-radius: 2em;
  cursor: pointer;
  transition: all 200ms ease;
}

.loginBtns li button:hover {
  background-color: makerLightGrey;
}

.loginBtns li:last-child {
  margin-bottom: 0;
}
